.employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  
  .employee {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  .customerHeader {
    text-align: center;
}

.addEmployeeButton {
  background-color: darkolivegreen;
  border-radius: 8px;
  color: rgb(216, 216, 216);
}

.addEmployeeButton:hover {
  background-color: rgb(121, 0, 0);
}